<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>

<body>
    <div>
        <header>
            <h1>
                Tech Blog
            </h1>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Dashboard</li>
                    <li>Logout</li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>Thank you for visiting my blog.</p>
    </footer>
</body>
</html>