<h1> My Tech Blog</h1>

 {{#if logged_in}}
            <a href="/">home</a>
            |
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}

           {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}